@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
* {
  box-sizing: border-box;
}

header,
section {
  overflow-x: hidden;
 
}


/*----navbar----*/

nav{
	background-color: #f5c224;
}

header a {
  font-family: var(--Sniglet-font);
  font-size: 0.9em;
  color: #60351e;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 8rem;
}

header .navbar-brand i{
   text-decoration: none;
   color: #fff;
}

header .navbar-brand a i:hover{
   text-decoration: none;
   color: #fff;
}


header .navbar-brand i:hover{
  text-decoration: none;
   color: #fff;
}


header .nav-link:hover {
  color: #fff;
}





/*----header----*/


.section-1 { width: 100%;
  height: 90vh;
  background-size: cover;
  background-image: url(file:///E:/website/websites/not%20done/dairy%20farm/img/1.jpg);

}


.section-1 .col h6{
  margin-top: 250px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.section-1 .col h1,h5{
	font-size: 50px;
	 font-weight: bold;
	 color: #fff;	
}

.section-1 .primary-btn {
  border-radius: 30px;
  font-weight: bold;
  background-color: #f5c224;
  border: none;

}

.section-1 .primary-btn:hover{
	background-color: #fff;


}

.section-1 .primary-btn:hover a{
	text-decoration: none;
	color: #60351e;	
}

.section-1 .primary-btn a{
	color: #60351e;
}





/*----welcome----*/


.section-2{ width: 100%;
  background-position: center;
  height: 30vh;
  background-image: url(file:///E:/website/websites/not%20done/dairy%20farm/img/2.png);

}


.section-2 .col h6{
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #60351e
  
}


.section-2 .col h1{
  margin-top: 20px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #60351e
  
}

/*----3 photo----*/
.section-3 .container-fluid{
  background-color: #efeeee;
}
.section-3 .col img{
	margin-top: 50px;
	width: 70%;
	height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-3 .col h4{
	font-weight: bold;
}


.section-3 .primary-btn {
  border-radius: 30px;
  font-weight: bold;
  background-color: #f5c224;
  

}

.section-3 .primary-btn a{
	color: #60351e;
}

.section-3 .primary-btn:hover{
	background-color: #fff;


}

.section-3 .primary-btn:hover a{
	text-decoration: none;
	color: #60351e;	
}


/*----description----*/
.section-4{
	background-image: url(file:///E:/website/websites/not%20done/dairy%20farm/img/bg_fresh.jpg);
	background-position: -10rem 0rem;
	height: 80vh;
	background-size: cover;
	margin-top: 50px;
}

.section-4 .col-lg-6{
	margin-top: 150px;
}


.section-4 .col-lg-6 h1{
	color: #f5c224;
	font-size: 50px;
	font-weight: bold;
	        

}

.section-4 .col-lg-6 p{
	color: #fff;
	float: left;
	text-align: left;


}

.section-4 .col-lg-6{
	margin-top: 170px;
	

}

.section-4 .primary-btn {
  border-radius: 10px;
  font-weight: bold;
  background-color: #f5c224;
  float: left;
  border: none;
  

}

.section-4 .primary-btn a{
	color: #60351e;
}

.section-4 .primary-btn:hover{
	background-color: #fff;


}

.section-4 .primary-btn:hover a{
	text-decoration: none;
	color: #60351e;	
}


/*----Product----*/

.section-5 .container-fluid{
  background-color: #efeeee;

}


.section-5 .col img{
	margin-top: 50px;
	width: 70%;
	height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-5 .primary-btn {
  border-radius: 10px;
  font-weight: bold;
  background-color: #f5c224;
  
}

.section-5 .primary-btn a{
	color: #60351e;
}

.section-5 .primary-btn:hover{
	background-color: #fff;


}

.section-5 .primary-btn:hover a{
	text-decoration: none;
	color: #60351e;	
}


/*----feature reciepe----*/
 .section-6{
	background-image: url(file:///E:/website/websites/not%20done/dairy%20farm/img/3-layers.jpg);
	background-position: -10rem 0rem;
	height: 80vh;
	background-size: cover;
	margin-top: 50px;
}

.section-6 .col-lg-6{
	margin-top: 160px;

}

.section-6 .col-lg-6{
	margin-top: 160px;
	float: right;
}


.section-6 .col-lg-6 h5{
	font-size: 60px;
	color: #f5c224;
	font-weight: bold;
	text-align: left;
}

.section-6 .col-lg-6 h6{
	font-size: 40px;
	float:right;
	color: orange;
	font-weight: bold;
	text-align: left;
}

.section-6 .col-lg-6 p{
	color: #fff;
	text-align: left;
}


.section-6 .col-lg-6 img{
	width: 85%;
	float: left;
	padding-left: 130px;
}

.section-6 .primary-btn {
  border-radius: 10px;
  font-weight: bold;
  background-color: #f5c224;
  text-align: left;
  float: left;
  border: none;
  
}

.section-6 .primary-btn a{
	color: #60351e;
}

.section-6 .primary-btn:hover{
	background-color: #fff;


}

.section-6 .primary-btn:hover a{
	text-decoration: none;
	color: #60351e;	
}



/*----footer----*/

footer { margin-top: 50px;
  background: #333;
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p > span {
  color: #ff512f;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: #dd2476;
}

/* It is Adjacent sibling combinator */

footer .column i + i {
  padding: 0 0.5em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 9999;
  transition: all 1.5s ease;
}


